@media all and ( max-width : 767px ){
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
                     }

                       * {padding: 0; margin: 0;}

  body{
    font-family:'RIDIBatang',
    '리디바탕',
     ng;
    background-image: url('img/IndexImg.jpg');
    background-repeat : no-repeat;
  }


  header{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  .Main{position: relative;
  height: 100vh;}

  .Logo {
    width:10px;
    height:15px;
    position:relative;
    top:-750px;
    left:-250px;
     }

     .Logo img {
          position: relative;
          top:680px;
          left:100px;
      }


  .Menu{
    width:700px;
    height:100px;
    position:absolute;
    top:50px;
    left:1250px;

   }

   .Menu li{
     list-style-type: none;
     float: left;
     margin-left: 90px;
     font-size: 30px;
   }
         a {
           text-decoration: none;
           color:black;
         }
    #dragtarget{
      width:230px;
      height:230px;
      position: absolute;
      top:450px;
      left:900px;
      }

        .droptargetRight{
        width:370px;
        height:330px;
        position: absolute;
        top:450px;
        left:1320px;




        }

        .droptarget{
          width:390px;
          height:350px;
          position: absolute;
          top:580px;
          left:300px;

          }

        }
